.menu {
  display: flex;
}

.profile-avatar {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.card{
  display: flex;
  width: 80%;
  height: 95px;
  padding: 10px;
  border-radius: 30px;
}

.card-small{
  display: flex;
  width: 80%;
  height: 45px;
  padding: 10px;
  border-radius: 30px;
}

/*********ICONS**************/
.icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.icon--settings::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 24px;
  height: 8px;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}

.icon--settings::after{
  content: '';
  position: absolute;
  top: 8px;
  left: 18px;
  width: 4px;
  height: 4px;
  border: 2px solid currentColor;
  background-color: white;
  border-radius: 50%;
  box-shadow: -9px 10px 0px -2px white,
              -9px 10px 0px 0px currentColor;
}

.icon--arrow-up{
  position: absolute;
  content:'';
  width: 7px;
  height: 7px;
  border-top: 2px solid #54c534;
  border-left: 2px solid #54c534;
  border-top-left-radius: 10%;
  transform: translate(-30%, 200%) rotate(45deg);
  
}

.icon--arrow-down{
  position: absolute;
  content:'';
  width: 4px;
  height: 4px;
  border-top: 2px solid #fb8c58;
  border-left: 2px solid #fb8c58;
  border-top-left-radius: 10%;
  transform: rotate(225deg);
}

/****Background Config******/
.background-light-green{
  background-color: #d5ffc9;
}
.background-light-red{
  background-color: #ffbbaa;
}
.background-purple{
  background-color: #57445B ;
}
.background-orange{
  background-color: #FA5331;
}

/******Padding and Margin Config******/
.padding-small{
  padding: 5px;
}
.padding-medium{
  padding: 10px;
}
.padding-big{
  padding: 20px;
}
.padding-horizontal-small{
  padding: 0px 5px;
}
.margin-auto{
  margin: 10px auto;
}
/*****text config******/
.card--text{
  position: relative;
}
/*****************/
.icon-box{
  text-align: center;
  height: 32px;
  width: 32px;
  border-radius: 20%;
}